/*Langley Blue = #1C3E95*/

*{
	font-family: Tahoma, sans-serif;
	color: white;
	box-sizing: border-box;
}

html {
	background: white /*#1C3E95*/;
}

label {
	margin-left: 15px;
}

input[type="radio"] {
	margin-left: 10px;
	margin-right: 10px;
}

.wrap {
	width: 65%;
	margin: auto;
	background: #335DC7;
	padding: 3% 7% 10% 7%;
	border-radius: 20px;
	box-shadow: 3px 3px 10px #1C3E95 /*#290A87*/;
	
}

.heading h1 {
	font-variant: small-caps;
	letter-spacing: .25rem;
}

.heading {
	font-size: 1.5rem;
	text-align: center;
}

.heading h3 {
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 5rem;
	margin-top: -1rem;
	font-family: Palatina;
}

#radio_input {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 1.2rem;
	font-weight: bold;
}

.col1 {
	margin-bottom: 10px;
}

.unit_input {
	text-align: center;
	margin-bottom: 5rem;
	font-size: 1.5rem;
	font-variant: small-caps;
}

.unit_input select {
	background-color: #FFD640;
	color: black;
	font-size: 1.2rem;
}

.unit_input option {
	background-color: #FFD640;
	color: black;
}

.value_input {
	text-align: center;
	font-size: 1.5rem;
	font-variant: small-caps;
}

.PRENs {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.5rem;
}

.PRENs p {
	text-align: center;
	font-size: 1.5rem;
	font-variant: small-caps;
}

input {
	background-color: #FFD640;
	color: black;
	border-radius: 5px;
	font-size: 1.2rem;
}

input[type="text"] {
	width: 100px;
}

input:focus {
	background-color: #FFE173;
}

#convert {
	background-color: #FFD640;
	color: black;
}

#answer {
	font-size: 2em;
	color: black;
	margin-top: 35px;
	text-align: center;
	background-color: #FFD640;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}